* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
}

body {
  overflow-x: hidden;
}

.Navbar {
  width: 90%;
  height: 80px;
  margin: 15px auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 40px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.Name {
  display: flex;
  align-items: center;
  gap: 2px;
  color: white;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}

.hero {
  width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  box-sizing: border-box;
}

.hero-title {
  margin-left: 0;
  text-align: left;
  color: white;
}

.hero-name {
  margin-left: 5px;
  text-align: left;
  color: #a855f7;
  text-shadow: 0 0 10px #a855f7;
}

.hero-id{
  margin-left: 180px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.hero-ids {
  margin-left: 20px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
  color: white;
}

.Nav-links {
  color: aliceblue;
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.Nav-links li {
  background: transparent;
}

.Nav-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s ease;
}

.Nav-links a:hover {
  color: #a855f7;
  text-shadow: 0 0 10px #a855f7;
}

.hero-title {
  margin-left: 0;
  text-align: left;
  color: white;
}

.hero-name {
  margin-left: 5px;
  text-align: left;
  color: #a855f7;
  text-shadow: 0 0 8px #a855f7;
}

.hero-id{
  margin-left: 180px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.hero-ids {
  margin-left: 20px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
  color: white;
}

.hero-btn {
  display: inline-block;
  margin-left: -800px;
  margin-top: 50px;
  padding: 12px 25px;
  background-color: #a855f7;
  color: white;
  text-shadow: 0 0 8px #a855f7;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

.hero-btn:hover {
  background-color: white;
  color: #a855f7;
}

.hero-btns {
  display: inline-block;
  margin-left: 50px;
  margin-top: 50px;
  padding: 12px 15px;
  background-color: #000;
  color: white;
  text-shadow: 0 0 8px #a855f7;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

.hero-btns:hover {
  background-color: white;
  color: #a855f7;
}

.home {
  position: absolute;
  right: 80px;
  top: 180px;
  width: 690px;
  height: auto;
}

.ct {
  color: white;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
}

.connect{
  display: flex;
  top:10px;
  gap: 20px;
  justify-content: flex-start;
  margin-left: 0;
}

.connect img{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
}

.abh {
  width: 90%;
  min-height: 200px;
  margin: 140px auto 0;
  padding: 25px;
  background-color: #000;
  color: white;
  border: 1px solid #a855f7;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}


.about-text {
  text-align: left;
  width: 45%;
  color: #a855f7;
}

.about-text span {
  color: #a855f7;
  font-size: 14px;
  font-weight: bold;
}

.about-text h2 {
  font-size: 32px;
  margin: 15px 0;
  color: white;
}

.about-text p {
  line-height: 1.7;
  color: #ccc;
}

.about-btn {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 20px;
  background: #a855f7;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

.about-btn:hover{
    background-color: white;
  color: #a855f7;
}

.about-boxes {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.about-box {
  min-height: 120px;
  padding: 25px;
  align-items: right;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 15px;
  color: white;
}

.about-box h3 {
  margin-bottom: 12px;
}

.about-box p {
  color: #ccc;
}



.skill {
  width: 90%;
  min-height: 200px;
 margin: 60px auto;
  padding: 25px;
  background-color: #000;
  color: white;
  border: 1px solid #a855f7;
  border-radius: 20px;
}

.skills-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-header span {
  color: #a855f7;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
}

.skills-header h2 {
  color: white;
  font-size: 20px;
  margin-top: 5px;
}

.skills-btn {
  padding: 8px 15px;
  color: white;
  text-decoration: none;
  border: 1px solid #444;
  border-radius: 6px;
  font-size: 12px;
}

.skills-btn:hover {
  background-color: white;
  color: #a855f7;
}

.skills-list {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.skills {
  width: 80px;
  min-width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.skills img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  display: block;
  mix-blend-mode: screen;
}

.skills p {
  margin-top: 8px;
  color: #ccc;
  font-size: 12px;
  white-space: nowrap;
}


.projects {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto 40px;
  padding: 25px 0;
  border-bottom: 2px solid #a855f7;
}

.projects-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.projects-header span {
  color: #a855f7;
  text-align: left;
  margin-left: -30px;
  font-size: 20px;
  font-weight: bold;
}

.projects-header h2 {
  color: white;
  text-align: left;
  margin-left: 20px;
  font-size: 25px;
  margin-top: 10px;
}

.projects-btn {
  padding: 9px 16px;
  color: white;
  text-decoration: none;
  border: 1px solid #444;
  border-radius: 7px;
  font-size: 12px;
}

.projects-btn:hover {
  background-color: white;
  color: #a855f7;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.project-card {
  padding: 12px;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s ease;
}

.project-card:hover {
  border-color: #a855f7;
}

.project-image {
  width: 100%;
  height: 130px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.project-card h3 {
  color: white;
  font-size: 16px;
  margin-top: 15px;
}

.project-card p {
  color: #aaa;
  font-size: 12px;
  margin-top: 8px;
  line-height: 1.5;
}

.tech {
  display: flex;
  gap: 8px;
  margin-top: 12px;
  flex-wrap: wrap;
}

.tech span {
  padding: 5px 9px;
  background: rgba(168, 85, 247, 0.12);
  color: #ccc;
  border-radius: 5px;
  font-size: 10px;
}


.project-links {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.project-links a {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.06);
}

.project-links .live {
  color: #a855f7;
}


.experience-section {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto 80px;
  padding: 20px 0 0;
  color: white;
}

.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 25px;
}

.experience-header span {
  color: #a855f7;
  margin-left: -70px;
  font-size: 20px;
  font-weight: bold;
}

.experience-header h2 {
  color: white;
  font-size: 25px;
  margin-left: 10px;
  margin-top: 5px;
}

.arrow {
  color: white;
  font-size: 20px;
}


.timeline {
  position: relative;
  width: 100%;
  min-height: 170px;
  padding: 35px 30px 20px;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.10);
  border-radius: 15px;
}

.timeline-line {
  position: absolute;
  top: 40px;
  left: 10%;
  width: 80%;
  height: 2px;
  background: #a855f7;
  box-shadow: 0 0 8px #a855f7;
}

.journey {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-align: center;
}

.journey-item {
  position: relative;
  padding-top: 5px;
}

.dot {
  width: 13px;
  height: 13px;
  margin: -5px auto 15px;
  background: #a855f7;
  border: 3px solid #222;
  border-radius: 50%;
  box-shadow: 0 0 10px #a855f7;
}

.journey-item h4 {
  color: #aaa;
  font-size: 12px;
  margin-bottom: 8px;
}

.journey-item h3 {
  color: white;
  font-size: 13px;
  margin-bottom: 10px;
}

.journey-item p {
  color: #aaa;
  font-size: 11px;
  line-height: 1.6;
  max-width: 180px;
  margin: 0 auto;
}

.stats {
  width: 100%;
  margin-top: 20px;
  padding: 18px 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.10);
  border-radius: 15px;
}

.stat {
  display: flex;
  align-items: center;
  gap: 15px;
}

.stat-icon {
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(168, 85, 247, 0.15);
  border-radius: 8px;
  color: #a855f7;
  font-size: 20px;
}

.stat h3 {
  color: white;
  font-size: 18px;
  margin: 0;
}

.stat p {
  color: #aaa;
  font-size: 10px;
  margin-top: 3px;
}




.what-i-do {
  width: 100%;
  padding: 40px 5%;
  background: #000;
  color: white;
  box-sizing: border-box;
}


.what-header {
  display: grid;
  grid-template-columns: 1.5fr 1fr auto;
  align-items: center;
  gap: 50px;
  margin-bottom: 35px;
}

.what-title span {
  color: #a855f7;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.what-title span::after {
  content: "";
  display: block;
  width: 28px;
  height: 2px;
  background: #a855f7;
  margin-top: 10px;
}

.what-title h2 {
  font-size: 32px;
  line-height: 1.3;
  color: white;
  margin: 15px 0;
  font-weight: 700;
}

.what-title h2 b {
  color: #a855f7;
}

.what-small {
  color: #c5c5ca;
  font-size: 14px;
  line-height: 1.6;
}

.what-description p {
  color: #c5c5ca;
  font-size: 14px;
  line-height: 1.65;
  margin-top: 60px;
}

.what-view-btn {
  text-decoration: none;
  color: white;
  border: 1px solid #9b42ed;
  border-radius: 8px;
  padding: 13px 18px;
  min-width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  font-size: 13px;
  transition: 0.3s;
}

.what-view-btn span {
  color: #a855f7;
  font-size: 25px;
}

.what-view-btn:hover {
  background: #8e3be0;
  color: white;
  transform: translateY(-3px);
}


.what-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

.what-card {
  min-height: 390px;
  padding: 20px;
  border: 1px solid #292b3a;
  border-radius: 15px;

  background:
    radial-gradient(
      circle at 50% 100%,
      rgba(130, 35, 220, 0.28),
      transparent 45%
    ),
    #080910;

  box-shadow:
    inset 0 0 25px rgba(130, 40, 220, 0.04);

  transition: 0.35s ease;
}

.what-card:hover {
  transform: translateY(-8px);
  border-color: #9741e8;
  box-shadow:
    0 15px 35px rgba(130, 40, 220, 0.15);
}



.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-number {
  color: #a855f7;
  font-size: 21px;
  font-weight: 600;
}

.card-arrow {
  width: 40px;
  height: 40px;
  border: 1px solid #303141;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #a855f7;
  font-size: 25px;
}



.card-icon {
  color: #a855f7;
  font-size: 55px;
  margin: 15px 0 10px;
  height: 65px;

  display: flex;
  align-items: center;
}


.what-card h3 {
  font-size: 17px;
  margin: 5px 0 10px;
}

.what-card > p {
  color: #b9b9c0;
  font-size: 13px;
  line-height: 1.65;
  min-height: 65px;
}



.card-line {
  width: 27px;
  height: 2px;
  background: #a855f7;
  margin: 12px 0 20px;
}



.tech-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tech-tags span {
  border: 1px solid #292c3b;
  background: rgba(20, 21, 31, 0.8);

  padding: 8px 11px;
  border-radius: 7px;

  color: #d0d0d5;
  font-size: 11px;
}


@media (max-width: 1000px) {

  .what-header {
    grid-template-columns: 1fr 1fr;
  }

  .what-view-btn {
    width: 100px;
  }

  .what-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 650px) {

  .what-i-do {
    padding: 60px 5%;
  }

  .what-header {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .what-title h2 {
    font-size: 26px;
  }

  .what-cards {
    grid-template-columns: 1fr;
  }

  .what-card {
    min-height: auto;
  }
}



.contact-section {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 80px auto 40px;
  padding: 25px 10px 20px;
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  gap: 70px;
  color: white;
  overflow: hidden;
}


.contact-left {
  position: relative;
  z-index: 2;
}

.contact-label {
  color: #a855f7;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.contact-left h2 {
  color: white;
  margin: 7px 0;
  font-size: 24px;
  font-weight: 600;
}

.contact-left > p {
  color: #aaa;
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 18px;
}


.contact-info {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.contact-info a {
  margin: 0;
  color: #bdbdc4;
  font-size: 11px;
  text-decoration: none;
  transition: 0.3s ease;
}

.contact-info a:hover {
  color: #a855f7;
}

.contact-info div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-info span {
  color: #a855f7;
  font-size: 18px;
  width: 14px;
}

.contact-info p {
  margin: 0;
  color: #bdbdc4;
  font-size: 15px;
}



.contact-socials {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 25px;
}

.contact-socials a {
  text-decoration: none;
  color: #bdbdc4;
  font-size: 15px;
}


.contact-right {
  position: relative;
  z-index: 2;
}

.contact-right form {
  width: 100%;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.contact-right input,
.contact-right textarea {
  width: 100%;
  box-sizing: border-box;
  background: rgba(12, 13, 18, 0.8);
  border: 1px solid #252631;
  border-radius: 4px;
  color: white;
  outline: none;
  padding: 11px;
  margin-top: 100px;
  font-size: 10px;
}

.contact-right input::placeholder,
.contact-right textarea::placeholder {
  color: #777;
}

.contact-right input:focus,
.contact-right textarea:focus {
  border-color: #9145e8;
}

.contact-right textarea {
  height: 68px;
  resize: none;
  margin-top: 10px;
}


.contact-right button {
  margin-top: 14px;
  border: none;
  border-radius: 4px;
  padding: 10px 25px;
  background: #9141e8;
  color: white;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
}


.contact-lines {
  position: absolute;
  right: -30px;
  top: -40px;
  width: 280px;
  height: 240px;
  opacity: 0.25;
  background:
    repeating-radial-gradient(
      ellipse at 100% 0%,
      transparent 0px,
      transparent 7px,
      #8738d8 8px,
      transparent 10px
    );

  transform: rotate(-25deg);
  pointer-events: none;
}



@media (max-width: 800px) {

  .contact-section {
    grid-template-columns: 1fr;
    gap: 35px;
  }

  .contact-lines {
    right: -100px;
  }

}


@media (max-width: 500px) {

  .form-row {
    grid-template-columns: 1fr;
  }

  .contact-section {
    width: 88%;
  }

}